@import "tailwindcss";

@theme {
    --color-primary:  #0A0A0A;
    --color-secondary:  #FFFFF0;
    --color-soft:  rgb(255, 185, 205);
}

@layer  utilities{
    .width{
        @apply max-w-[1480px] mx-auto py-8
    }
    .orderButtonStyle{
        @apply bg-black text-secondary px-4 text-[13px] md:text-sm uppercase py-3 rounded-full cursor-pointer text-center
    }
    .discoverButtonStyle{
        @apply bg-transparent border border-black text-black px-4 text-[13px] md:text-sm uppercase py-3 rounded-full cursor-pointer text-center
    }
    .sectionTitle{
        @apply my-6 font-[900] text-left ml-4 md:ml-9 text-[35px] sm:text-[40px] md:text-[60px] lg:text-[70px] uppercase
    }
}

/* GLOBAL SCROLLBAR STYLING */
html {
  scrollbar-width: thin;                /* Firefox */
  scrollbar-color: #FF8AA3 #FFE6EE;      /* Firefox: thumb + track */
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;    /* scrollbar width */
}

::-webkit-scrollbar-track {
  background: #FFE6EE;   /* light pink background */
}

::-webkit-scrollbar-thumb {
  background: #FF8AA3;   /* pink thumb */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #FF6F91;   /* darker on hover */
}
