@import "tailwindcss";

@theme {
    --color-primary:  #0A0A0A;
    --color-secondary:  #FFFFF0;
    --color-soft:  rgb(255, 185, 205);
}

@layer  utilities{
    .width{
        @apply max-w-[1480px] mx-auto
    }
    .orderButtonStyle{
        @apply bg-black text-secondary px-4 text-sm uppercase py-3 rounded-full cursor-pointer
    }
}
