@import "tailwindcss";

@theme {
    --color-primary:  #0A0A0A;
    --color-secondary:  #FFFFF0;
    --color-soft:  rgb(247, 160, 183);
}


@layer  utilities{
    .width{
        @apply max-w-[1480px] mx-auto
    }
    .orderButtonStyle{
        @apply bg-black text-secondary px-4 text-[13px] md:text-sm uppercase py-3 rounded-full cursor-pointer text-center
    }
    .discoverButtonStyle{
        @apply bg-transparent border border-black text-black px-4 text-[13px] md:text-sm uppercase py-3 rounded-full cursor-pointer text-center
    }
    .sectionTitle{
        @apply my-6 font-[900] text-left ml-4 md:ml-9 text-[30px] sm:text-[40px] md:text-[60px] lg:text-[70px] uppercase
    }
}

/* GLOBAL SCROLLBAR STYLING */
html {
  scrollbar-width: thin;                /* Firefox */
  scrollbar-color: #FF8AA3 #FFE6EE;      /* Firefox: thumb + track */
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;    /* scrollbar width */
}

::-webkit-scrollbar-track {
  background: #FFE6EE;   /* light pink background */
}

::-webkit-scrollbar-thumb {
  background: #FF8AA3;   /* pink thumb */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #FF6F91;   /* darker on hover */
}

/* Pagination bullets */
.swiper-pagination-bullet {
  background-color: white !important;
  opacity: 0.7 !important;
}

.swiper-pagination-bullet-active {
  background-color: rgb(161, 2, 82)!important;
  opacity: 1 !important;
}

.comeUpBig{
  animation: up 2s forwards ease-out;
}

@keyframes up {
  0%{
    bottom: -400px;
    opacity: 0;
  }
  100%{
    bottom: -48px;
    opacity: 100;
  }
}
.comeUpSmall{
  animation: upSmall 2s forwards ease-out;
}

@keyframes upSmall {
  0%{
    bottom: -400px;
    opacity: 0;
  }
  100%{
    bottom: -14px;
    opacity: 100;
  }
}
@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-bounce-in {
  animation: bounce-in 0.5s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.6s ease-out;
}

