@import "tailwindcss";

@theme {
    --color-primary:  #0A0A0A;
    --color-secondary:  #FFF7EE;
    --color-soft:  #FF6F91;
}

@layer  utilities{
    .width{
        @apply max-w-7xl mx-auto
    }
}
